@import 'variables';

.activation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 120px;

  .activation-form {
    .activation-text {
      color: $black-blue;
      font-size: 1.2rem;
      line-height: 120%;
    }

    .activation-button {
      margin-top: 60px;
      margin-bottom: 10px;
      background-color: $blue;
      color: $white

    }
  }
}