@import 'fonts.css';

$blue: #007CFF;
$light-blue: #DAEAFF;
$med-blue: #4CA6FF;
$md-blue: #0C55B2;
$dark-blue: #00387F;
$black-blue: #0E2549;
$dark-purple: #3D002D;
$purple: #87174D;
$light-purple: #C20064;
$white: #ffffff;
$black: #000000;
$gray: #7E7E7E;
$light-gray: #BEBEBE;
$red: #CB2424;

$font-family: e-Ukraine;
$font-family-head: e-Ukraine Head;